/* *universal para aplicar em todos os elementos */
* {
    margin:0;
    padding:0;
}

/*pixel = unidade fixa "quase nunca vai utilizar" execeto ser for um valor preciso como: valor de uma borda, uma fonte
  rem = um tamanho baseado em multiplos de 16. "mais utilizado"
  em = tamanho baseado na fonte do proprio elemento quer que um elemento cresça ou diminua de acordo com a fonte como: botão, caixa de texto  
   % = baseado no tamanho largura, altura do seu elemento pai 
   vh e vw = unidades de medida baseada nas porcentagens da viewport que é a area de visualização do navegador  */
header {
    background-color: #232323;
    color: #fff;
    padding: 10px;
}

section {
    background-color: #ddd;
    height: 100px;
}

.box {
    border: 1px solid #232323;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    width: 75px;
}

.px {
    height: 10px;
}

/* root element -> 16px * 3 = 48px */
.rem {
    height: 3rem;
}

.em {
    font-size: 20px;
    padding: 1em;
}

.prcnt-33 {
    height: 33%;
}

.prcnt-66 {
    height: 66%;
}

.prcnt-100 {
    height: 100%;
}


/*acompanha conforme a tela*/

/* viewport height */
.vh {
    height: 30vh;
}

/* viewport width */
.vw {
    width: 50vw;
}